{% extends 'smgpy/base.html' %}

{% block content %}
    <div class="date">
        {% if detail.published_date %}
            {{ detail.published_date }}
        {% endif %}
    <a class="btn btn-default" href="{% url 'clinic_edit' pk=detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <h1>{{ detail.clinic_name }}</h1>
    <p><strong>Telephone: </strong>{{ detail.clinic_telephone}}</p>
    <p><strong>Clinic Email: </strong>{{ detail.clinic_email}}</p>
    <p><strong>Clinic Doctors: </strong>{{ detail.clinic_doctors}}</p>
    <br>

{% endblock %}