{% extends 'smgpy/base.html' %}

{% block content %}
    <h1>Edit Clinic</h1>
    <form enctype="multipart/form-data" method="POST" class="post-form" accept-charset="">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}