{% extends 'smgpy/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    
    
    <div class="container">
        <div class="row">   
            <div class="col-md-5">
            <p><a href="/doctor">Back</a></p>
                <h1>Edit Doctor</h1>
                <form enctype="multipart/form-data" method="POST" class="post-form" accept-charset="">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
                {% else %}
                <p>Welcome, Guest <a href="/login?next={{next}}">[login]</a></p>
                <p>Please LOGIN to EDIT</p>
                {% endif %}
            </div>
        </div>
    </div>

    
{% endblock %}