{% extends 'smgpy/base.html' %}

{% block content %}

<!-- Start Doctor Detail Section -->       
<div class="container">
    <div class="row">
        <div class="section-title text-center">
            <h3>{{ detail.title }}</h3>
            <p>{{ detail.specialty}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="about-text">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <img src="http://127.0.0.1:8000/{{ detail.image_file.url }}" class="img-thumbnail responsive" />
                    </div>
                    <div class="col-md-9 col-sm-6">
                        <a class="btn btn-default" href="{% url 'doctor_edit' pk=detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <ul>
                        <li><i class="fa fa-angle-double-right"></i><strong>Specialty: </strong>{{ detail.text}}</li>
                        <li><i class="fa fa-angle-double-right"></i><strong>Languages Spoken: </strong>English, Chinese</li>
                        <li><i class="fa fa-angle-double-right"></i>Et harum quidem rerum facilis</li>
                        <li><i class="fa fa-angle-double-right"></i>At vero eos et accusamus et iusto odio</li>
                        </ul>
                        <!-- <button type="button" class="btn btn-info" style="margin-top:15px;">Book Appointment</button> -->

                    </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div><!-- /.row -->
</div>
<!-- End Doctor Detail Section -->
{% endblock %}