{% extends "smgpy/base.html" %}
{% block content %}

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
          <form class="form col-md-12 center-block" method="post" action="{% url 'django.contrib.auth.views.login' %}">
          {% csrf_token %}
            <div class="form-group"	id="user">
              {{form.username}}
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" type="submit" value="login">Log In</button>
            </div>
            <input type="hidden" name="next" value="/" />
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		  </div>	
      </div>
  </div>
  </div>
</div>
{% endblock %}

