{% extends 'smgpy/base.html' %}

{% block content %}

<!-- Start Team Member Section -->
 
<div class="container">
    <div class="row">
        <div class="section-title text-center">
            <h3>Our Doctors</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate</p>
        </div>
    </div>
    <div class="row">
        {% for doc in docs %}
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <img src="http://pr1.smg.sg/{{ doc.image_file.url }}" class="img-responsive" />
                <div class="team-details">
                    <h4><a href="{% url 'smgpy.views.doctor_detail' pk=doc.pk %}">{{ doc.title }}</a></h4>
                    <div class="designation">{{ doc.text}}</div>
                    <ul style="text-align: center;">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
		{% endfor %}
    </div><!-- /.row -->
</div>
<!-- End Team Member Section -->
  
        <!-- End Feature Section -->
{% endblock content %}